section {
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
}


.footer-container{
    display: flex;
    background-color: #004B8D;
    overflow-x: hidden;    
    height: 395px;
    color: #fff;
    justify-content: space-around;
    border-top: 4px solid #F7941E;
    align-items: center;
}

.navbar-logo-footer img{
    width: 130px;
    height: auto;
}

.title-map{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.map-site{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    gap: 3rem;
}

.map-site a{
    font-size: 1rem;
}

.map-site a:hover{
    color: #F7941E;
}

.map-site-footer, .importants-links-footer, .suport-footer{
    display: flex;
    flex-direction: column;
}

.map-site-footer a, .importants-links-footer a, .suport-footer a{
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
}


@media (max-width: 1050px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        height: 600px;         
    }

}

@media (max-width: 746px) {
    
    .footer-container {
        flex-direction: column;
        align-items: center;
        height: 780px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    
    .map-site {
        flex-wrap: wrap;     
    }
    
}


@media (max-width: 500px) {
    .footer-container {
        height: 1000px;         
    }

    .map-site {
        flex-wrap: wrap;     
    }


}


