<section>
    <div class="footer-container">
        <div class="navbar-logo-footer">
            <img src="../../../../assets/logoBranco.png" alt="Logo do Senac">
        </div>
        
        <div class="map-site">
            <div class="map-site-footer">
                <div class="title-map">Menu</div>
                <a href="/">Senac Talks</a>
                <a href="#">Fauna & Flora no Senac</a>
                <a href="#">Cursos</a>
                <a href="#">Quadro de Avisos</a>
                <a href="#">Empreenda</a>
                <a href="#">Kapiva Atlética</a>
                <a href="#">Bolsa de Estudo</a>
                <a href="#">Biblioteca</a>
                <a href="#">Parceiros</a>
            </div>
        
            <div class="importants-links">
                <div class="title-map">Links</div>
                <div class="importants-links-footer">
                    <a href="#">Hotéis</a>
                    <a href="#">Editora</a>
                    <a href="#">EAD</a>
                    <a href="#">Atendimento Corporativo</a>
                
                </div>
            </div>

            <div class="suport">
                <div class="title-map">Suporte</div>
                <div class="suport-footer">
                    <a href="#">Central de atendimento</a>
                    <a href="#">FAQ</a>
                    <a href="#">Termos de uso</a>
                    <a href="#">Privacidade</a>
                    <a href="#">Política Reembolso</a>
                </div>
            </div>
        </div>
    </div>
</section>