*{
  font-family: "Sanchez", serif;
}

section{
  position: relative;
}
.containerBtn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  max-width: 100vw;
  padding: 0 10%;
}

h3{
  text-align: center;
  width: 100%;
  margin: 10px 0 20px;
  color: #808080;
}

.areaExclusiva{
  font-size: 0.8rem;
  color: #808080;
}

.btnLogin {
    display: block;
    padding: 10px 5px;
    background-color: transparent;
    width: 79px;
    font-weight: 700;
    color: #0e6094;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 0.8rem;    
  }
  
  .formLogin {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 0;
    top: 115%;
    left: 60%;
    width: 300px;
    margin-top: 15px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .formLogin label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #808080;
  }
  
  .formLogin input[type="email"],
  .formLogin input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #808080;
  }
  
  #recuperarSenha {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  #recuperarSenha:hover {
    text-decoration: underline;
  }
  
  .formLogin input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #F7941E;
    color: white;
    font-size: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formLogin input[type="submit"]:hover {
    background-color: #FDC280;
  }
  


  @media (max-width: 950px) {
    .formLogin {
      left: 55%;
    }
  }


  @media (max-width: 800px) {
    .formLogin {
      left: 55%;
    }
  }


  @media (max-width: 700px) {
    .formLogin {
      left: 50%;
    }
  }


  @media (max-width: 625px) {
    .formLogin {
      left: 10%;
    }
  }

  @media (max-width: 426px) {
    .areaExclusiva{
      font-size: 1rem;
    }

    .containerBtn{
      padding: 0 5%;
    }
    
    .formLogin {
      left: 3%;
    }
    
    .btnLogin {
         padding: 10px 10px;      
    }
       
    
  }