<section>
    <div class="container">
        <h2 class="tituloSenaclick">SenaClick</h2>
        <p class="descricao">Senaclick é uma revista feita por alunos, para alunos, do Senac. Nosso objetivo é 
            criar um espaço onde podemos compartilhar conhecimentos, novidades, eventos e 
            tudo que acontece no nosso Centro Universitário. Nossa revista oferece muitas vantagens para seus 
            assinantes, como acesso a palestras on-line de profissionais renomados, todas as edições do empreenda
            Senac, para inspirar você a participar e muito mais....  
        </p>
        <h2 class="subtitulo">
            Como funciona?
        </h2>
        <p class="descricao">Nosso conteúdo é produzido por uma equipe de alunos voluntários e está disponível
            para todos os estudantes do Senac. Quer se juntar à nossa equipe? Todo conhecimento é bem-vindo, sua 
            graduação tem espação em nossa redação. Venha nos conhecer ou Envie um e-mail 
            para <a href="malito:senaclick@senac.br">SenaClick</a>, sua revista digital.  
        </p>
    </div>
</section>
