th, td {
  text-align: center;
  vertical-align: middle;
}

/* .tabela-hidden{
  display: none;
} */

.btn-excluir{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-paginator {
  margin-top: 16px;
}
