<mat-card class="mat-elevation-z4">
  <mat-table [dataSource]="clientes" class="mat-elevation-z2">

    <ng-container matColumnDef="ID Cliente">
      <mat-header-cell *matHeaderCellDef> ID Cliente </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{ cliente.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{ cliente.nome }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Sobrenome">
      <mat-header-cell *matHeaderCellDef> Sobrenome </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{ cliente.sobrenome }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let cliente"> {{ cliente.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="atualizar">
      <mat-header-cell *matHeaderCellDef> Atualizar </mat-header-cell>
      <mat-cell *matCellDef="let cliente">
        <button mat-button color="primary" (click)="abrirModalAtualizar(cliente, atualizarDialog)">
          Atualizar
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <mat-header-cell *matHeaderCellDef> Excluir </mat-header-cell>
      <mat-cell *matCellDef="let cliente">
        <button mat-raised-button btn-excluir color="warn" (click)="abrirModalExcluir(cliente.id, excluirDialog)">
          Excluir
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="nomesColunas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: nomesColunas;"></mat-row>
  </mat-table>
</mat-card>

<!-- Dialog de Exclusão -->
<ng-template #excluirDialog>
  <h2 mat-dialog-title>Confirmar Exclusão</h2>
  <mat-dialog-content>
    Tem certeza que deseja excluir o cliente com ID <strong>{{ idParaExcluir }}</strong>?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="warn" (click)="confirmarExclusao()" mat-dialog-close>Excluir</button>
  </mat-dialog-actions>
</ng-template>

<!-- Dialog de Atualização -->
<ng-template #atualizarDialog>
  <h2 mat-dialog-title>Atualizar Cliente</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="clienteAtual.nome">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Sobrenome</mat-label>
      <input matInput [(ngModel)]="clienteAtual.sobrenome">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="primary" (click)="atualizarCliente()" mat-dialog-close>Salvar</button>
  </mat-dialog-actions>
</ng-template>
