<div class="headerRedesSociais">
    <div class="logo">
        <img src="../../../../assets/logo.png" alt="logo senac">
    </div>
      <div class="senacsp">
        <p>Senac São Paulo</p>
      </div>
    <div class="iconesRedesSociais">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>

</div>


