  <header>
    <div class="menu-container">
      
      <div class="hamburger" (click)="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav [class.active]="isMenuOpen"> 
        <ul>
          <li><a>Institucional</a></li>
          <li><a href="#">Unidades</a></li>
          <li><a (click)="irParaCursos()">Cursos</a></li>
          <li><a href="#">Eventos</a></li>
          <li><a href="#">Centro Universitário</a></li>
          <li><a href="#">Jovem Aprendiz</a></li>
          <li><a href="#">Biblioteca</a></li>
          <li><a (click)="irParaPlanos()">SenaClick</a></li>
          <li class="mobile"><a href="#">Hotéis</a></li>
          <li class="mobile"><a href="#">Editora</a></li>
          <li class="mobile"><a href="#">EAD</a></li>
          <li class="mobile"><a href="#">Atendimento Corporativo</a></li>
          <li class="mobile"><a href="#"></a><input type="text" placeholder="Busca"  class="busca"><i class="fa-solid fa-magnifying-glass"></i></li>
          
          
        </ul>
      </nav>
    </div>
  </header>
  