<h2 class="tituloSaudacao">Olá, Administrador!</h2>
<section>
  <div class="container">
    <div class="controles">
      <div class="painel">
        <i class="fa fa-hamburger"></i>
        <h4>Painel</h4>
      </div>
      <button>Assinatura</button>
      <button>Plano</button>
      <button>Clientes</button>
    </div>
    <div class="dados">
      <div class="tabelaContainer">  
        <div class="consulta">
          <p>Consulta: </p>
          <input type="text" [(ngModel)]="filtro" placeholder="Buscar usuário..." class="filtro" />
        </div>
        
        <table class="tabelaUsuarios">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Email</th>
              <th>Tipo de Plano</th>
              <th>Editar</th>
              <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuariosFiltrados">
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.sobrenome }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.plano }}</td>
              <td><button class="alterar" (click)="alterarUsuario(usuario)">Alterar</button></td>
              <td><button class="excluir" (click)="excluirUsuario(usuario)">Apagar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</section>
