<h2 class="tituloSaudacao">Olá, Administrador!</h2>
<section>
  <div class="container">
    <div class="controles">
      <div class="painel">
        <i class="fa fa-hamburger"></i>
        <h4>Painel</h4>
      </div>
      <button>Assinatura</button>
      <button>Plano</button>
      <button>Clientes</button>
    </div>

    <div class="dados">
      <div class="tabelaContainer">
        <div class="consulta">
          <p>Consulta: </p>
          <input type="text" [(ngModel)]="filtro" placeholder="Buscar usuário..." class="filtro" />
        </div>

        <div class="container mt-4">

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead class="table-dark">
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Título</th>
                  <th>Pagamento</th>
                  <th>Preço</th>
                  <th>Data da Assinatura</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of assinaturas">
                  <td>{{ item.id }}</td>
                  <td>{{ item.nome }}</td>
                  <td>{{ item.titulo }}</td>
                  <td>{{ item.pagamento }}</td>
                  <td>R$ {{ item.preco }}</td>
                  <td>{{ item.data_assinatura }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- Fecha a segunda div.container -->

      </div> <!-- Fecha a div.tabelaContainer -->
    </div> <!-- Fecha a div.dados -->
  </div> <!-- Fecha a div.container principal -->
</section>
