<div class="buscador">
  <nav class="nav">
    <ul>
      <li>
          <a href="">Hotéis</a>
          <a href="">Editora</a>
          <a href="">EAD</a>
          <a href="">Atendimento Corporativo</a>
      </li>
    </ul>  
  </nav>

  <div class="busca">
      <input type="text" placeholder="Busca">
      <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <div class="areaExclusiva">
      <p>Àrea exclusiva de <span>Zezinho.</span></p>
      
      <i class="fa-solid fa-right-from-bracket"></i>
      <p class="sair">Sair</p>
  </div>

</div>